.top1{

        padding-top: 7px
        padding-bottom: 8px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        -webkit-letter-spacing: 1.2px;
        -moz-letter-spacing: 1.2px;
        -ms-letter-spacing: 1.2px;
        letter-spacing: 1.2px;
    
}
.btn.default {

    background-color: #e535ab;
    border: 1px solid #e535ab;
  
    color: #fff;
    border-radius:40px;
}
.btn1{
  
    
    border: 1px solid white;
  
    color: #fff;
    border-radius:40px;
}

