
body {
  width: 100%;
  overflow-x: hidden;
}
/*signup form*/
.header-account h3 {
  font-size: 40px;
  color: #1f2128;
  font-family: ProximaNova-Bold;
  display: inline-block;
  padding: 10px 35px 6px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 120px;
  border: 1px solid #1f2128;
  margin-left: 40%;
  
}
.des-header {
  margin: 0 20%;
  margin-bottom: 45px;
  border: 1px none #1f2128;
  text-align: justify;
  margin-top: 5%;
  
}
.des-header a {
  color: red;
}
.header-account span {
    display: inline-block;
    width: 100%;
    font-family: ProximaNovaT-Thin;
    color: #696969;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 42%;
}
#form-sign-up {
  width: 100%;
  margin: 0 30px;
  box-sizing: border-box;
}
.form-account .btn-primary-meteor {
  display: inline-block;
  width: 40%;
  background-color: #de4f4f;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
  border: none;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 30%;
}
button {
  padding: 1px 6px;
}
.form-account input {
  display: inline-block;
  width: 40%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #8e8e8e;
  font-style: italic;
  margin-bottom: 15px;
  height: 40px;
  font-family: ProximaNovaT-Thin;
  border: 1px solid #566391;
  border-radius: 0;
  margin-left: 30%;
}
.action-already-user span {
  margin-left: 42%;
  margin-bottom: 10%;
}
.action-already-user a {
  text-transform: uppercase;
  color: red;
}
/*header styling*/
.login {
  float: right;
}

img {
  background-color:#ff6666;
  width: 155px;
  min-height: 55px;
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #ed7979;
}
.dropdown-item a {
  color: white;
  text-transform: uppercase;
}
.nav-link a {
  text-transform: uppercase;
}
.dropdown-item {
    color: white;
    text-transform: uppercase;
    font-family: AktivGrotesk-Medium;
    font-family: ProximaNova-Semibold;
    font-family: ProximaNova-Regular;
}
#navbarDropdown: hover  {
    color: #ff6666;
}
/*Footer styling*/
.list-unstyled{
  font-size:15px;
  text-decoration: none;
  color:#1f2128;
  text-decoration-color: currentColor;
  text-decoration-line: none;
  text-decoration-style: solid;
  display: inline-block;
  font-family: ProximaNovaT-thin;
}

a{
  color:#1f2128;
}
a:hover{
  color:#de4f4f;
  text-decoration: none;
}

   

.des{
  font-size: 12px;
  display:inline-block;
  color:#1f2128;
  
}
.first img{
  width:120px;
}

