.logo {
    margin-top: 2vh;
    margin-right: 70vw;
    margin-bottom: 2vh;
}

footer {
    height: 45vh;
    font-family: sans-serif;
}

.footerIcons img {
    margin-right: 3%;
    height: 4vh;
    width: 3vw;
}

.list-unstyled > div {
    margin-top: 5%;
}

.css-p5akwu {
    background-image: url(https://d33wubrfki0l68.cloudfront.net/4b7c710808112b095898aaf79a150c8f5cf57e4d/cec5e/static/careers-hero-822bbd34486dd274e915003a9c0f28b3.png);
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: cover; 
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-size-adjust: 100%;
    margin-top: -2%;
    padding-bottom: 15%;
    color: rgb(116, 119,144);
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}   

.css-p5akwu {
    padding-top: 120px;
    text-align: center;
    text-size-adjust: 100%;
    box-sizing: border-box;
    color: white;
    display: block;
    font-weight: 700;
    line-height: 60px;
}

.herobtn {
    background-color: rgb(229, 53, 171);
    border-bottom-color: rgb(229, 53, 171);
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    border-bottom-style: solid;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    color: white;
}

.sectiontext1 {
    color: rgb(116, 119, 144);
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    font-weight: 100%;
    margin-top: 22px;
    margin-top: 14px;
    padding-left:-15vw;
    padding-right: -15vw;
    text-align: center;
    position: relative;
}

.section-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 11px
}

@media (max-width:576px) {
    .section-logo {
        padding: 0
    }
}

.section-logo__img-wrap {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    min-width: 222px
}

@media (max-width:576px) {
    .section-logo__img-wrap {
        width: 50%;
        min-width: 50%
    }
}

.css-sec2div1 {
    background-color: rgb(34, 10, 130);
    color: white;
}

.css-sec2div2 {
    background-image: url("https://d33wubrfki0l68.cloudfront.net/c40223b9b72880931089e499549fa52fc33e6a2c/cffca/static/team-bg-e97259f33b20892d2d1c42faeb37516c.png");
    box-sizing: border-box;
    color: white;
    text-align: center;
    position: center;
}
