body{
    overflow-x: hidden;
}


.title-header-page h3 {

    margin: 90px auto 0px;
        margin-top: 90px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    text-transform: none;
    border:1px solid;
    font-size: 40px;
    text-transform:uppercase;
    

}

.title-content-page, .title-header-page {

    text-align: center;
    letter-spacing: 1px;
    background: none;
    padding-bottom: 20px;

}
.fadeInUp {

    animation-name: fadeInUp;

}

.title-header-page {

    font-size: 18px;
    margin: 30px 0 40px;
    text-transform: uppercase;
    font-family: ProximaNova-Bold;
    color: #1f2128;
    
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70px;

}

.title-header-page span {

    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-family: ProximaNovaT-Thin;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: none;
}

.container{

    align-items: center;
    margin-left:10%;
    
}

.features-list li{
    text-decoration: none;
    list-style-type:none;
    top: 40px;
    line-height: 200%;
    position: relative;
}
   

.features-list i{
    color: #de4f4f;
}


.galaxy{
    margin-left:20%;
}


.payment{
text-transform: uppercase;
    font-size: 12px;
    margin: 35px 40px;
    margin-left:40px;
    text-align: center;
    width: 100%;
    font-family: ProximaNova-Regular;

}
.titlegalaxy{
    
    margin:20px 0 30px;
    text-align: center;
}
.titlemeteor{

}

.note{
    font-size: 10px;
}

.price span b{
    color:#de4f4f;
}

.price p{
    font-size: 14px;
    padding:0px;
    margin:0px;
}

.btn btn-danger{
    
    padding:2px;
}



/*start of styling for footer*/
.list-unstyled{
    font-size:13px;
    text-decoration: none;
    color:#1f2128;
    text-decoration-color: currentColor;
    text-decoration-line: none;
    text-decoration-style: solid;
    display: inline-block;
    font-family: ProximaNovaT-thin;
}

a{
    color:#1f2128;
}
a:hover{
    color:#de4f4f;
    text-decoration: none;
}

     

.des{
    font-size: 12px;
    display:inline-block;
    color:#1f2128;
    
}
.first img{
    width:120px;
}

/*end of styling for footer*/