h2::first-letter {
    text-transform: uppercase;
}


.table {
    margin : 0px auto;
    float : none;
}
.card-deck ul {
    list-style: none;
  }
  
 .card-deck ul li:before {
    text-decoration-color: blue;
  }
  

  .table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }