h2::first-letter {
    text-transform: uppercase;
}


.table {
    margin : 0px auto;
    float : none;
}
.card-deck ul {
    list-style: none;
  }
  
 .card-deck ul li:before {
    content:"\2713\0020";
    text-decoration-color: blue;
  }
  